@import "tailwindcss";

:root {
  --text: #222;
  --title: #222;
  --bg: #F5F5F5;
  --code-bg: #232936;
  --link: #d23669;
  --inlinecode-bg: rgba(255, 229, 100, 0.2);
  --inlinecode-text: #1a1a1a;
  --charcoal-grey: #36454F;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}
